<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mandrill Manager - Check</title>
    <link rel="stylesheet" href="../assets/style.css"/>
    <link rel="icon" href="//handlebarsjs.com/images/favicon.png"/>
    <script>window.$ = window.jQuery = require('jquery');</script>
    <script>var open = require("open");</script>
</head>
<body>
<header>
    Mandrill Manager - Local Preview
</header>
<div id="content">
    <form action="#" id="uploadForm">
        <div class="inputGroup">
            <label for="templateFile">Mandrill Template (HTML or TXT)</label>
            <input type="text" id="templateFile" name="templateFile" required placeholder="Drag a .html or .txt file from the templates/out directory to this input box"/>
        </div>
        <div class="inputGroup">
            <label for="jsonFile">Transaction Data (JSON)</label>
            <input type="text" id="jsonFile" name="jsonFile" required placeholder="Drag a .json file from the templates/in directory to this input box"/>
        </div>
        <input type="submit" value="Preview" id="start"/>
    </form>
</div>
<footer>
    <a href="https://campanda.com" target="_blank">Campanda</a> | <a href="https://github.com/campanda/mandrill-handlebars-helper" target="_blank">Github</a>
</footer>
<script src="../assets/logic.js"></script>
</body>
</html>