<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mandril Manager - Check</title>
    <link rel="stylesheet" href="../assets/style.css"/>
    <link rel="icon" href="//handlebarsjs.com/images/favicon.png"/>
    <script>window.$ = window.jQuery = require('jquery');</script>
    <script>var open = require("open");</script>
</head>
<body>
<header>
    Mandril Manager - Check
</header>
<div id="content">
    <form action="#" id="uploadForm">
        <div class="inputGroup">
            <label for="htmlFile">Template</label>
            <input type="text" id="contentFile" name="contentFile" required placeholder="Drag a html or txt file to this input box"/>
        </div>
        <div class="inputGroup">
            <label for="jsonFile">JSON</label>
            <input type="text" id="jsonFile" name="jsonFile" required placeholder="Drag a json file to this input box"/>
        </div>
        <input type="submit" value="Check" id="start"/>
    </form>
</div>
<footer>
    <a href="https://campanda.com" target="_blank">Campanda</a> | <a href="https://github.com/campanda/mandrill-handlebars-helper" target="_blank">Github</a>
</footer>
<script src="../assets/logic.js"></script>
</body>
</html>